@media only screen and (min-width: 900px) {
    .intro-header {
        height: 550px
    }
}

article {
    overflow: visible;
}

pre.highlight {
    font-size: 0.95em;
}

ul.task-list {
    list-style: none;
    padding-left: 10px;
}
