{% extends "base.html" %}

{% block content %}
    <header class="intro-header" style="background-image: url('{{ SITEURL }}/{% if page.cover %}{{ page.cover }}{% else %}{{ HOME_COVER }}{% endif %}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>{{ page.title }}</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
	<div class="row">
        <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 
            col-xs-12 postlist-container">
            {{ page.content }}

            <div>
          {% if DISQUS_SITENAME %}
                <!-- disqus 评论框 start -->
                <div class="comment">
                    <div id="disqus_thread" class="disqus-thread"></div>
                </div>
                <!-- disqus 评论框 end -->
                {% endif %}
        </div>
        </div>
        <!-- Sidebar Container -->
        <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12 col-xs-12
            sidebar-container">
            <!-- Featured Tags -->
            {% include "partials/featured_tags.html" %}

            <!-- Short About -->
            {% include "partials/short_about.html" %}

            <!-- Friends Blog -->
            {% include "partials/friends.html" %}
        </div>
        
    </div>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
{% if DISQUS_SITENAME %}
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_config = function () {
        this.page.url = '{{ SITEURL }}/{{ page.url }}';
        this.page.identifier = '{{ page.title }}';
        this.page.title = '{{ page.title }}';
    };

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
                            
<!-- disqus 公共JS代码 end -->
{% endif %}

<script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/1.1.1/anchor.min.js"></script>
{% endblock %}